@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --twitter-color: #1D9BF0;
  --twitter-background: #343639 ;
  background-color: #000;
  color: white;
}



/* Siderbar_buttonのCSS */
.custom-button {
  @apply text-white border-white font-bold rounded-full  hover:bg-gray-800 !important;
}


/* Home.js */
/* スクロールバーの幅を狭くするCSS */
.custom-scrollbar {
  overflow-y: auto;  /* スクロールは有効 */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;  /* スクロールバーの幅を狭く設定 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;  /* スクロールバーの色を透明にする */
}

